@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
body {
margin: 40px;
border: 1px solid black;
box-shadow: 3px 5px 3px rgba(75, 75, 75, 0.192);
padding: 10px;
background-color:#fffcfc;
color: #203573;
font-family: 'Josefin Sans', sans-serif;
}