body {
  font-size: 1.2em;
  margin: 2%;
  background-color: rgb(244, 247, 250);
  color:#181818;
  text-align: center;
}
h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.8rem;
}

img {
    max-width: 100%;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.726);
}

figure {
  background: rgb(146, 146, 146);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: 0 0 25px 0;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.74);
}



@media screen and (min-width: 840px) {
  body {
    background: rgba(129, 129, 129, 0.2);
    margin: 20px 5%;
    font-size: 1.3rem;
  }

  figure {
    width: 43%;
    float: left;
    margin: 2%
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: rgba(141, 141, 141, 0.637);
    margin: 5px 2%;
    font-size: 1.7em;
    max-width: 100%;
    color: rgb(0, 0, 0);
  }
  figure {
    width: 44%;
    float: left;
    margin: 2%
  }
}