*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1E7F5;
  color: #303235;
}

.dados {
  margin: 5px 10px;  
}

.home {
  margin: 5px 10px;
  box-shadow: 2px 2px 3px #00000049;
}

.form {
  margin: 5px 10px;
  box-shadow: 5px 5px 3px #00000026;
}

.emprego {
  margin: 5px 10px;
  box-shadow: 2px 2px 3px #00000049;

}