html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1em;
    max-width: 100%;
    margin: 20px;
    background-color: rgb(248, 248, 248);
    text-align: justify;
    color: rgb(26, 26, 26)
  }

  header nav ul {
    padding: 0;
    margin: 0;
  }

  header nav ul li:nth-of-type(2) {
    padding: 0 15px 0 15px
  }
  header nav ul li {  
    display: inline-block;
    list-style: none;
    font-size: 1.4em;   
  }

  header p {
    font-size: 1.6em;
  }

  aside {
    font-size: 1.2em;
  }

  .main-content p {
    font-size: 1.2em;
  }

  footer {
    font-size: 1.3em;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  footer h3 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1em;
    max-width: 100%;
    margin: 20px;
    background-color: rgb(248, 248, 248);
    text-align: justify;
    color: rgb(26, 26, 26)
  }

  .container {
    text-align: center;
  }

  header nav ul {
    padding: 0;
    margin: 0;
  }

  h2 {
    margin: 0;
    padding-left: 40px;
  }

  header nav ul li:nth-of-type(2) {
    padding: 0 15px 0 15px
  }
  header nav ul li {  
    display: inline-block;
    list-style: none;
    font-size: 1.3em;   
  }

  header p {
    font-size: 1.6em;
    letter-spacing: 0.2em;
  }

  .infos {
    display: flex;
    justify-content: center;
  }

  .aside-two {
    order: 1;
    align-self: center;
    text-align: center;
  }

  aside {
    font-size: 1.1em;
    display:flex;
    flex-direction: column;
  }

  .main-content h1 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .main-content p {
    font-size: 1.2em;
    padding-top: 10px;
    max-width: 80%;
    margin: auto;
    text-align: justify;
  }

  footer {
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  footer h3 {
    font-size: 1.2em;
  }
}

